const tokenExtend = {
  /**
   * 是否启用自定义token验证。true启用，false不启用，默认不开启，不开启的话使用系统内部的Jwt token,  开启的话则执行自定义的token机制
   */
  setup: true,

  invalidToken: function(access_token, refresh_token) {
    return "normal";
  }
};

export default tokenExtend;
