{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true, // 全局启用 loose 模式   
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@vue/cli-plugin-babel/preset"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-assign",
    "transform-object-rest-spread",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-transform-private-methods",
    "@babel/plugin-transform-private-property-in-object"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": ["istanbul"]
    }
  }
}
