node_modules/
dist/
.cache-loader/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
.cache-loader
.DS_Store
*.log
stats.json
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
deploy/
proxy.json
.metadata/